<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>User Home</title>
</head>
<body>
	<div layout:fragment="content">
		<div>

			<h2>Sistemde Kayıtlı Firmalar</h2>

			<p class="my-5">
				<a class="btn btn-success" th:href="@{/firma}"><i class="fa fa-plus"> Firma Ekle</i></a>
			</p>
			<br>
			<table id="table" class="table table-hover table-striped compact" style="width:100%">
				<thead>
				<tr>

					<th scope="col" rowspan="2">Id</th>
					<th scope="col" rowspan="2">Resim</th>
					<th scope="col" rowspan="2">Adı</th>
					<th scope="col" rowspan="2">Sicil</th>
					<th scope="col" rowspan="2">İlçe</th>
					<th scope="col" rowspan="2">Faaliyet Alanları</th>
					<th scope="col" colspan="3">İK Sorumlusu</th>
					<th scope="col" rowspan="2"></th>

				</tr>
				<tr>
					<th scope="col">Adı</th>
					<th scope="col">Mail</th>
					<th scope="col">Telefonu</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="firma: ${firmalar}" >
					<td th:text="${firma.id}"></td>
					<td>
						<div th:if="${firma}">
							<img id="output" src="#" alt="image" height="160" width="120" th:src="@{/upload/{dosyaTuru}/{id}(id=${firma.id},dosyaTuru='FIRMA')}"/>
						</div>
					</td>
					<td th:text="${firma.adi}"></td>
					<td th:text="${firma.sicil}"></td>
					<td th:text="${firma.ilce}"></td>
					<td th:text="${firma.faaliyetAlanlari}"></td>
					<td th:text="${firma.insanKaynaklariSorumlusuAdi}"></td>
					<td th:text="${firma.email}"></td>
					<td th:text="${firma.insanKaynaklariSorumlusuTelefonu}"></td>
					<td width="100px">
						<a width="50px" th:href="@{/firma/{id}(id=${firma.id})}" class="btn btn-primary"><i class="fa fa-edit ml-2"></i> Düzenle </a>
						<a width="50px" th:href="@{/firma/delete/{id}(id=${firma.id})}" class="btn btn-danger"><i class="fa fa-trash"></i> Sil</a>
					</td>

				</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>