<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">HayataTemasEt</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.css}" />
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.css}" />
	<link rel="stylesheet" th:href="@{/assets/font-awesome-4.5.0/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/fonts/material-icon/css/material-design-iconic-font.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/style.css}" />

	<script th:src="@{'/assets/js/jquery-3.4.1.min.js'}"></script>
	<script th:src="@{'/assets/bootstrap/js/bootstrap.js'}"></script>
	<script th:src="@{'/assets/js/main.js'}"></script>
</head>

<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">HayataTemasEt.com</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarsExample02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/ogrenci}">  Öğrenci Kayıt Formu</a>
			</li>
			<li class="nav-item"  sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/ogretmen}" >Öğretmen Kayıt Formu</a>
			</li>
			<li class="nav-item"  sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/firma}" >Firma Kayıt Formu</a>
			</li>
			<li class="nav-item"  sec:authorize="isAuthenticated()">
				<a class="nav-link" th:href="@{/logout}" >Çıkış</a>
			</li>
		</ul>
	</div>
</nav>

	<div class="container">

		<div layout:fragment="content">
			<!-- Your Page Content Here -->
		</div>

	</div>
</body>
</html>
