<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>User Home</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Sistemde Kayıtlı Öğretmenler</h2>

		<p class="my-5">
			<a class="btn btn-success" th:href="@{/ogretmen}"><i class="fa fa-plus"> Öğretmen Ekle</i></a>
		</p>

		<div>
		<br>
			<table class="table table-hover table-bordered">
				<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Resim</th>
					<th scope="col">Adı Soyadı</th>
					<th scope="col">Email</th>
					<th scope="col">Telefon</th>
					<th scope="col">Okul</th>
					<th scope="col"></th>
				</tr>
				</thead>
				<tbody>
					<tr  th:each="ogretmen: ${ogretmenler}">
						<td th:text="${ogretmen.id}"></td>
						<td>
							<div th:if="${ogretmen}">
								<img id="output" src="#" alt="image" height="160" width="120" th:src="@{/upload/{dosyaTuru}/{id}(id=${ogretmen.id},dosyaTuru='OGRETMEN')}"/>
							</div>
						</td>

						<td th:text="${ogretmen.adi}"></td>
						<td th:text="${ogretmen.email}"></td>
						<td th:text="${ogretmen.telefon}"></td>
						<td th:text="${ogretmen.okul}"></td>
						<td>
							<a th:href="@{/ogretmen/{id}(id=${ogretmen.id})}" class="btn btn-primary"><i class="fa fa-edit ml-2"></i> Düzenle </a>
							<a th:href="@{/ogretmen/delete/{id}(id=${ogretmen.id})}" class="btn btn-danger"><i class="fa fa-trash"></i> Sil</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

</body>

</html>