<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Öğrenci Kayıt Formu</title>
</head>
<body>
<div layout:fragment="content">

    <form  th:action="@{/ogrenci}" method="POST" class="register-form" id="register-form" enctype="multipart/form-data">
        <div class="col -row">
            <div>
                <h2>Öğrenci Kayıt Formu</h2>
                <br>
                <br>
                <div class="form-row">
                    <div class="col-md-4">
                        <img  class="img-thumbnail rounded float-left" id="output" src="#" alt="image"  th:src="(${ogrenci.resimUrl}!=null) ? @{/upload/{dosyaTuru}/{id}(id=${ogrenci.id},dosyaTuru='OGRENCI')}:@{/assets/images/user.png}"/>

                        <div class="custom-file">
                                    <input class="custom-file-input" type="file" name="resim" id="resim" accept="image/*" onchange="loadFile(event)"/>
                                    <label class="custom-file-label" for="resim">Resim Yükle</label>
                                </div>
                                <input type="hidden" name="resimUrl" id="resimUrl" th:value="${ogrenci.resimUrl}"/>

                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                                <a href="#" th:attr="download=${ogrenci.id}+'.cv.pdf'" th:if="${ogrenci.cvUrl}" th:href="@{/upload/{dosyaTuru}/{id}(id=${ogrenci.id},dosyaTuru='CV')}" > <i class="fa fa-user-o"> Özgeçmiş indir</i></a>


                                <div class="custom-file">
                                    <input class="custom-file-input" type="file" name="cv" id="cv" accept="pdf"/>
                                    <label class="custom-file-label" for="cv">Özgeçmiş yükle</label>
                                </div>

                                <script>
                                    var loadFile = function(event) {
                                        var output = document.getElementById('output');
                                        output.src = URL.createObjectURL(event.target.files[0]);
                                    };

                                    $(".custom-file-input").on("change", function() {
                                        var fileName = $(this).val().split("\\").pop();
                                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                    });
                                </script>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-row">
                    <div class="col ">
                        <label for="email"> Email :</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="E-mail" th:value="${ogrenci.email}" />
                    </div>

                    <div class="col " th:unless="${ogrenci.password}">
                        <label for="password">Şifre (En az 4 karekter):</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Şifre"  th:value="${ogrenci.password}" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="col ">
                        <label for="tcKimlikNo">TC Kimlik No :</label>
                        <input class="form-control" type="number" name="tcKimlikNo" id="tcKimlikNo" placeholder="TC Kimlik No" required="true" th:value="${ogrenci.tcKimlikNo}"/>
                    </div>
                    <div class="col ">
                        <label for="adi">Adı Soyadı :</label>
                        <input class="form-control" type="text" name="adi" id="adi"th:value="${ogrenci.adi}"/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col ">
                        <label for="dogumTarihi">Doğum Tarihi :</label>
                        <input class="form-control" type="date" name="dogumTarihi" id="dogumTarihi" th:value="${ogrenci.dogumTarihi}" />
                    </div>



                    <div class="col ">
                        <label for="cepTelefonu">Cep Telefonu :</label>
                        <input class="form-control" type="number" name="cepTelefonu" id="cepTelefonu" th:value="${ogrenci.cepTelefonu}" />
                    </div>

                </div>

                <div class="form-row">
                    <div class="col ">
                        <label for="CINSIYET">Cinsiyet :</label><br>
                        <div class="form-check form-check-inline" id="CINSIYET">
                            <input class="form-check-input" type="radio" name="cinsiyet" id="ERKEK" value="ERKEK" th:checked="${ogrenci.cinsiyet==T(net.javaguides.springbootsecurity.enums.Cinsiyet).ERKEK}" />
                            <label class="form-check-label" for="ERKEK">Erkek</label>
                        </div>
                        <div  class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cinsiyet" id="KADIN" value="KADIN" th:checked="${ogrenci.cinsiyet==T(net.javaguides.springbootsecurity.enums.Cinsiyet).KADIN}" />
                            <label class="form-check-label" for="KADIN">Kadın</label>
                        </div>
                    </div>

                    <div class="col ">
                        <label for="askerlikDurumu">Askerlik Durumu :</label>
                        <div class="select-list">
                            <select class="custom-select"  name="askerlikDurumu" id="askerlikDurumu">
                                <option disabled selected value> Askerlik Durumu Seçin </option>
                                <option value="TECIL"   th:selected="${ogrenci.askerlikDurumu==T(net.javaguides.springbootsecurity.enums.AskerlikDurumu).TECIL}">Tecil</option>
                                <option value="YAPTI"   th:selected="${ogrenci.askerlikDurumu==T(net.javaguides.springbootsecurity.enums.AskerlikDurumu).YAPTI}">Yaptı</option>
                                <option value="YAPMADI" th:selected="${ogrenci.askerlikDurumu==T(net.javaguides.springbootsecurity.enums.AskerlikDurumu).YAPMADI}">Yapmadı</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col ">
                        <label for="veliAdi">Veli Adı :</label>
                        <input class="form-control" type="text" name="veliAdi" id="veliAdi" th:value="${ogrenci.veliAdi}"/>
                    </div>
                    <div class="col ">
                        <label for="veliCepTelefonu">Veli Telefonu :</label>
                        <input class="form-control" type="number" name="veliCepTelefonu" id="veliCepTelefonu" th:value="${ogrenci.veliCepTelefonu}"/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col ">
                        <label for="ehliyet">Ehliyet :</label>
                        <input class="form-control" type="text" name="ehliyet" id="ehliyet" th:value="${ogrenci.ehliyet}"/>
                    </div>

                    <div class="col ">
                        <label for="stajYapacagiGun">Staj Yapacağı Gün :</label>
                        <div class="select-list">
                            <select class="custom-select"  name="stajYapacagiGun" id="stajYapacagiGun">
                                <option disabled selected value> Staj Yapacağı Günü Seçin </option>
                                <option value="PAZARTESI_SALI_CARSAMBA" th:selected="${ogrenci.stajYapacagiGun==T(net.javaguides.springbootsecurity.enums.StajYapacagiGun).PAZARTESI_SALI_CARSAMBA}">Pazartesi-Salı-Carşamba</option>
                                <option value="CARSAMBA_PERSEMBE_CUMA"  th:selected="${ogrenci.stajYapacagiGun==T(net.javaguides.springbootsecurity.enums.StajYapacagiGun).CARSAMBA_PERSEMBE_CUMA}">Carşamba-Perşembe-Cuma</option>
                                <option value="YAZ_STAJI_4_HAFTA"       th:selected="${ogrenci.stajYapacagiGun==T(net.javaguides.springbootsecurity.enums.StajYapacagiGun).YAZ_STAJI_4_HAFTA}">Yaz Stajı 4 Hafta</option>
                                <option value="YAZ_STAJI_3_HAFTA"       th:selected="${ogrenci.stajYapacagiGun==T(net.javaguides.springbootsecurity.enums.StajYapacagiGun).YAZ_STAJI_3_HAFTA}">Yaz Stajı 3 Hafta</option>
                                <option value="DIGER">Diğer</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>
                </div>
                <br>
                <h3>Adres Bilgileri</h3>

                <div class="form-row">
                    <div class="col ">
                        <label for="ilce">İlçe :</label>
                        <select class="custom-select"  name="ilce" id="ilce" th:value="${ogrenci.ilce}">
                            <option disabled selected value> İlçe Seçin </option>
                            <option value="IZMIT"      th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).IZMIT}">İzmit</option>
                            <option value="BASISKELE"  th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).BASISKELE}">Başiskele</option>
                            <option value="CAYIROVA"   th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).CAYIROVA}">Çayırova</option>
                            <option value="DARICA"     th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).DARICA}">Darıca</option>
                            <option value="DERINCE"    th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).DERINCE}">Derince</option>
                            <option value="DILOVASI"   th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).DILOVASI}">Dilovası</option>
                            <option value="GEBZE"      th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).GEBZE}">Gebze</option>
                            <option value="GOLCUK"     th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).GOLCUK}">Gölcük</option>
                            <option value="KANDIRA"    th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).KANDIRA}">Kandıra</option>
                            <option value="KARAMURSEL" th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).KARAMURSEL}">Karamürsel</option>
                            <option value="KARTEPE"    th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).KARTEPE}">Kartepe</option>
                            <option value="KORFEZ"     th:selected="${ogrenci.ilce==T(net.javaguides.springbootsecurity.enums.Ilce).KORFEZ}">Körfez</option>
                        </select>
                        <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                    </div>

                    <div class="col ">
                        <label for="semt">Semt/Mahalle :</label>
                        <input class="form-control" type="text" name="semt" id="semt" th:value="${ogrenci.semt}"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col ">
                        <label for="adres">Adres :</label>
                        <textarea class="form-control" id="adres" name="adres" cols="80" rows="5" th:value="${ogrenci.adres}"></textarea>
                    </div>
                </div>
            </div>

            <div>
                <br>
                <h3>Okul Bilgileri</h3>

                <div class="form-row">
                    <div class="col ">
                        <label for="okulAdi">Okul Adı :</label>
                        <input class="form-control" type="text" name="okulAdi" id="okulAdi" th:value="${ogrenci.okulAdi}"/>
                    </div>

                    <div class="col ">
                        <label for="okulAlani">Alanı :</label>
                        <input class="form-control" type="text" name="okulAlani" id="okulAlani" th:value="${ogrenci.okulAlani}"/>
                    </div>

                    <div class="col ">
                        <label for="okulDali">Dalı :</label>
                        <input class="form-control" type="text" name="okulDali" id="okulDali" th:value="${ogrenci.okulDali}"/>
                    </div>

                    <div class="col ">
                        <label for="notOrtalamasi">Not Ortalaması :</label>
                        <input class="form-control" type="number" name="notOrtalamasi" id="notOrtalamasi" th:value="${ogrenci.notOrtalamasi}"/>
                    </div>

                </div>
            </div>

            <div>
                <div class="form-row">
                    <div class="col ">
                        <label for="okuduguKitaplar">Okuduğu Kitaplar</label>
                        <textarea class="form-control" type="text" name="okuduguKitaplar" id="okuduguKitaplar" th:value="${ogrenci.okuduguKitaplar}"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col ">
                        <label for="gorevAldigiEtkinlikler">Görev Aldığı Etkinliker :</label>
                        <textarea class="form-control" type="text" name="gorevAldigiEtkinlikler" id="gorevAldigiEtkinlikler" th:value="${ogrenci.gorevAldigiEtkinlikler}"></textarea>
                    </div>
                </div>
                <br>

                <h3>Referans Öğretmen </h3>
                <div class="form-row">
                    <div class="col ">
                        <label for="referansOgretmenAdi"> Adı Soyadı :</label>
                        <input class="form-control" type="text" name="referansOgretmenAdi" id="referansOgretmenAdi" th:value="${ogrenci.referansOgretmenAdi}"/>
                    </div>
                    <div class="col ">
                        <label for="referansOgretmenTelefon">Telefonu :</label>
                        <input class="form-control" type="number" name="referansOgretmenTelefon" id="referansOgretmenTelefon" th:value="${ogrenci.referansOgretmenTelefon}"/>
                    </div>
                </div>


                <h3>Lisans Bilgileri</h3>
                <div class="form-row">

                    <div class="col ">
                        <label for="lisansTuru">Lisans Türü :</label>
                        <div class="select-list">
                            <select class="custom-select"  name="lisansTuru" id="lisansTuru" >
                                <option disabled selected value> Lisans Türü Seçin </option>
                                <option value="LISANS"   th:selected="${ogrenci.lisansTuru==T(net.javaguides.springbootsecurity.enums.LisansTuru).LISANS}">Lisans</option>
                                <option value="ONLISANS" th:selected="${ogrenci.lisansTuru==T(net.javaguides.springbootsecurity.enums.LisansTuru).ONLISANS}">On Lisans</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>

                    <div class="col ">
                        <label for="lisansTarihi">Lisans Tarihi :</label>
                        <input class="form-control" type="date" name="lisansTarihi" id="lisansTarihi" th:value="${ogrenci.lisansTarihi}" />
                    </div>

                    <div class="col ">
                        <label for="lisansDerecesi">Lisans Derecesi :</label>
                        <input class="form-control" type="number" name="lisansDerecesi" id="lisansDerecesi" th:value="${ogrenci.lisansDerecesi}"/>
                    </div>
                </div>
<br>
                <h2>Beceriler </h2>
<br>
                <h3>Bilgisayar Becerileri</h3>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">On Parmak</th>
                        <th scope="col">Yazılım</th>
                        <th scope="col">Ofis Yazılımı</th>
                        <th scope="col">Donanım</th>
                        <th scope="col">Çizim</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> <input class="form-control" type="text" name="onParmakbeceri" id="onParmakbeceri" th:value="${ogrenci.onParmakbeceri}"></td>
                        <td> <input class="form-control" type="text" name="yazilimBeceri" id="yazilimBeceri"th:value="${ogrenci.yazilimBeceri}"></td>
                        <td> <input class="form-control" type="text" name="ofisBeceri" id="ofisBeceri" th:value="${ogrenci.ofisBeceri}"></td>
                        <td> <input class="form-control" type="text" name="donanimBeceri" id="donanimBeceri" th:value="${ogrenci.donanimBeceri}"></td>
                        <td> <input class="form-control" type="text" name="cizimBeceri" id="cizimBeceri" th:value="${ogrenci.cizimBeceri}"></td>
                    </tr>

                    </tbody>
                </table>
                <br>
                <h3>Katıldığı Projeler</h3>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Proje Tarihi</th>
                        <th scope="col">Proje Adı</th>
                        <th scope="col">Projedeki Görevi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> <input class="form-control" type="date" name="projeTarihi1" id="projeTarihi1" th:value="${ogrenci.projeTarihi1}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projeAdi1" th:value="${ogrenci.projeAdi1}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projedekiGorevi1" th:value="${ogrenci.projedekiGorevi1}"></td>
                    </tr>
                    <tr>
                        <td> <input class="form-control" type="date" name="projeTarihi1" id="projeTarihi2" th:value="${ogrenci.projeTarihi2}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projeAdi2" th:value="${ogrenci.projeAdi2}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projedekiGorevi2" th:value="${ogrenci.projedekiGorevi2}"></td>
                    </tr>
                    <tr>
                        <td> <input class="form-control" type="date" name="projeTarihi1" id="projeTarihi3" th:value="${ogrenci.projeTarihi3}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projeAdi3" th:value="${ogrenci.projeAdi3}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projedekiGorevi3" th:value="${ogrenci.projedekiGorevi3}"></td>
                    </tr>
                    <tr>
                        <td> <input class="form-control" type="date" name="projeTarihi1" id="projeTarihi4" th:value="${ogrenci.projeTarihi4}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projeAdi4" th:value="${ogrenci.projeAdi4}"></td>
                        <td> <input class="form-control" type="text" name="projeTarihi1" id="projedekiGorevi4" th:value="${ogrenci.projedekiGorevi4}"></td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <h3>Dil Becerileri</h3>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Dil</th>
                        <th scope="col">Beceri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <select class="custom-select"  name="dil1" id="dil1">
                                <option disabled selected value> Dil Seçin </option>
                                <option value="INGILIZCE" th:selected="${ogrenci.dil1==T(net.javaguides.springbootsecurity.enums.Dil).INGILIZCE}">İngilizce</option>
                                <option value="ALMANCA"   th:selected="${ogrenci.dil1==T(net.javaguides.springbootsecurity.enums.Dil).ALMANCA}">Almanca</option>
                                <option value="ARAPCA"    th:selected="${ogrenci.dil1==T(net.javaguides.springbootsecurity.enums.Dil).ARAPCA}">Arapça</option>
                                <option value="FARSCA"    th:selected="${ogrenci.dil1==T(net.javaguides.springbootsecurity.enums.Dil).FARSCA}">Farsça</option>
                                <option value="RUSCA"     th:selected="${ogrenci.dil1==T(net.javaguides.springbootsecurity.enums.Dil).RUSCA}">Rusça</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select"  name="dil1beceri" id="dil1beceri">
                                <option disabled selected value> Beceri Seçin </option>
                                <option value="AZ"       th:selected="${ogrenci.dil1beceri==T(net.javaguides.springbootsecurity.enums.Beceri).AZ}">Az</option>
                                <option value="ORTA"     th:selected="${ogrenci.dil1beceri==T(net.javaguides.springbootsecurity.enums.Beceri).ORTA}">Orta</option>
                                <option value="IYI"      th:selected="${ogrenci.dil1beceri==T(net.javaguides.springbootsecurity.enums.Beceri).IYI}">İyi</option>
                                <option value="MUKEMMEL" th:selected="${ogrenci.dil1beceri==T(net.javaguides.springbootsecurity.enums.Beceri).MUKEMMEL}">Mükemmel</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="custom-select"  name="dil2" id="dil2">
                                <option disabled selected value> Dil Seçin </option>
                                <option value="INGILIZCE" th:selected="${ogrenci.dil2==T(net.javaguides.springbootsecurity.enums.Dil).INGILIZCE}">İngilizce</option>
                                <option value="ALMANCA"   th:selected="${ogrenci.dil2==T(net.javaguides.springbootsecurity.enums.Dil).ALMANCA}">Almanca</option>
                                <option value="ARAPCA"    th:selected="${ogrenci.dil2==T(net.javaguides.springbootsecurity.enums.Dil).ARAPCA}">Arapça</option>
                                <option value="FARSCA"    th:selected="${ogrenci.dil2==T(net.javaguides.springbootsecurity.enums.Dil).FARSCA}">Farsça</option>
                                <option value="RUSCA"     th:selected="${ogrenci.dil2==T(net.javaguides.springbootsecurity.enums.Dil).RUSCA}">Rusça</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select"  name="dil2beceri" id="dil2beceri">
                                <option disabled selected value> Beceri Seçin </option>
                                <option value="AZ"       th:selected="${ogrenci.dil2beceri==T(net.javaguides.springbootsecurity.enums.Beceri).AZ}">Az</option>
                                <option value="ORTA"     th:selected="${ogrenci.dil2beceri==T(net.javaguides.springbootsecurity.enums.Beceri).ORTA}">Orta</option>
                                <option value="IYI"      th:selected="${ogrenci.dil2beceri==T(net.javaguides.springbootsecurity.enums.Beceri).IYI}">İyi</option>
                                <option value="MUKEMMEL" th:selected="${ogrenci.dil2beceri==T(net.javaguides.springbootsecurity.enums.Beceri).MUKEMMEL}">Mükemmel</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="custom-select"  name="dil3" id="dil3">
                                <option disabled selected value> Dil Seçin </option>
                                <option value="INGILIZCE" th:selected="${ogrenci.dil3==T(net.javaguides.springbootsecurity.enums.Dil).INGILIZCE}">İngilizce</option>
                                <option value="ALMANCA"   th:selected="${ogrenci.dil3==T(net.javaguides.springbootsecurity.enums.Dil).ALMANCA}">Almanca</option>
                                <option value="ARAPCA"    th:selected="${ogrenci.dil3==T(net.javaguides.springbootsecurity.enums.Dil).ARAPCA}">Arapça</option>
                                <option value="FARSCA"    th:selected="${ogrenci.dil3==T(net.javaguides.springbootsecurity.enums.Dil).FARSCA}">Farsça</option>
                                <option value="RUSCA"     th:selected="${ogrenci.dil3==T(net.javaguides.springbootsecurity.enums.Dil).RUSCA}">Rusça</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select"  name="dil3beceri" id="dil3beceri">
                                <option disabled selected value> Beceri Seçin </option>
                                <option value="AZ"       th:selected="${ogrenci.dil3beceri==T(net.javaguides.springbootsecurity.enums.Beceri).AZ}">Az</option>
                                <option value="ORTA"     th:selected="${ogrenci.dil3beceri==T(net.javaguides.springbootsecurity.enums.Beceri).ORTA}">Orta</option>
                                <option value="IYI"      th:selected="${ogrenci.dil3beceri==T(net.javaguides.springbootsecurity.enums.Beceri).IYI}">İyi</option>
                                <option value="MUKEMMEL" th:selected="${ogrenci.dil3beceri==T(net.javaguides.springbootsecurity.enums.Beceri).MUKEMMEL}">Mükemmel</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="custom-select"  name="dil4" id="dil4">
                                <option disabled selected value> Dil Seçin </option>
                                <option value="INGILIZCE" th:selected="${ogrenci.dil4==T(net.javaguides.springbootsecurity.enums.Dil).INGILIZCE}">İngilizce</option>
                                <option value="ALMANCA"   th:selected="${ogrenci.dil4==T(net.javaguides.springbootsecurity.enums.Dil).ALMANCA}">Almanca</option>
                                <option value="ARAPCA"    th:selected="${ogrenci.dil4==T(net.javaguides.springbootsecurity.enums.Dil).ARAPCA}">Arapça</option>
                                <option value="FARSCA"    th:selected="${ogrenci.dil4==T(net.javaguides.springbootsecurity.enums.Dil).FARSCA}">Farsça</option>
                                <option value="RUSCA"     th:selected="${ogrenci.dil4==T(net.javaguides.springbootsecurity.enums.Dil).RUSCA}">Rusça</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select"  name="dil4beceri" id="dil4beceri">
                                <option disabled selected value> Beceri Seçin </option>
                                <option value="AZ"       th:selected="${ogrenci.dil4beceri==T(net.javaguides.springbootsecurity.enums.Beceri).AZ}">Az</option>
                                <option value="ORTA"     th:selected="${ogrenci.dil4beceri==T(net.javaguides.springbootsecurity.enums.Beceri).ORTA}">Orta</option>
                                <option value="IYI"      th:selected="${ogrenci.dil4beceri==T(net.javaguides.springbootsecurity.enums.Beceri).IYI}">İyi</option>
                                <option value="MUKEMMEL" th:selected="${ogrenci.dil4beceri==T(net.javaguides.springbootsecurity.enums.Beceri).MUKEMMEL}">Mükemmel</option>

                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3>Diğer </h3>
                <div class="form-row">
                    <div class="col ">
                        <label for="digerBeceriler"> Diğer Beceriler :</label>
                        <textarea class="form-control" type="number" name="digerBeceriler" id="digerBeceriler" th:value="${ogrenci.digerBeceriler}"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col ">
                        <label for="isIleIlgiliBeceriler">İşle İlgili Beceriler :</label>
                        <textarea class="form-control" type="text" name="isIleIlgiliBeceriler" id="isIleIlgiliBeceriler" th:value="${ogrenci.isIleIlgiliBeceriler}"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col ">
                        <label for="OrganizasyonelBeceriler">Organizasyonel Beceriler :</label>
                        <textarea class="form-control" type="text" name="OrganizasyonelBeceriler" id="OrganizasyonelBeceriler" th:value="${ogrenci.organizasyonelBeceriler}" ></textarea>
                    </div>
                </div>

            </div>

                <br>
            <div class="col text-right btngroup ">
                    <input type="reset" value="Temizle" class="btn btn-secondary" name="reset" id="reset">
                    <input type="submit" value="Kaydet" class="btn btn-primary" name="submit" id="submit">

            </div>
            <input  type="hidden" name="id" id="id" th:value="${ogrenci.id}"/>
        </div>
        <br>
        <br>
        <br>
        <br>
    </form>
</div>

</body>
</html>