<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>User Home</title>
</head>
<body>
	<div layout:fragment="content">

		<p>
			<a th:href="@{/logout}">Logout</a>
		</p>

		<div>
		<br>

			<h2>Sistemde Kayıtlı Öğretmenler</h2>
			<table class="table table-hover table-bordered">
				<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Adı Soyadı</th>
					<th scope="col">Email</th>
					<th scope="col">Telefon</th>
				</tr>
				</thead>
				<tbody>
					<tr  th:each="ogretmen: ${ogretmenler}">
						<td th:text="${ogretmen.id}"></td>
						<td th:text="${ogretmen.adi}"></td>
						<td th:text="${ogretmen.email}"></td>
						<td th:text="${ogretmen.telefon}"></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

</body>

</html>