<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>User Home</title>
</head>
<body>
	<div layout:fragment="content">

		<p>
			<a th:href="@{/logout}">Logout</a>
		</p>

		<div>
		<br>
			<h2>Sistemde Kayıtlı Öğrenciler</h2>
			<table class="table table-hover table-bordered">
				<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Adı</th>
					<th scope="col">Soyadı</th>
					<th scope="col">TC Kimlik No</th>
					<th scope="col">İlçe</th>
					<th scope="col">Okul Adı</th>
					<th scope="col">Okul Alanı</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="ogrenci: ${ogrenciler}"  >
					<td th:text="${ogrenci.id}"></td>
					<td th:text="${ogrenci.adi}"></td>
					<td th:text="${ogrenci.soyadi}"></td>
					<td th:text="${ogrenci.tcKimlikNo}"></td>
					<td th:text="${ogrenci.ilce}"></td>
					<td th:text="${ogrenci.okulAdi}"></td>
					<td th:text="${ogrenci.okulAlani}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>