<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>User Home</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Sistemde Kayıtlı Öğrenciler</h2>

		<div>
		<br>
			<table id="table" class="table table-hover table-striped compact" style="width:100%">
				<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Resim</th>
					<th scope="col">Adı Soyadı</th>
					<th scope="col">TC Kimlik No</th>
					<th scope="col">İlçe</th>
					<th scope="col">Okul Adı</th>
					<th scope="col">Okul Alanı</th>
					<th scope="col"></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="ogrenci: ${ogrenciler}"  >
					<td th:text="${ogrenci.id}"></td>
					<td>
						<div th:if="${ogrenci}">
							<img id="output" src="#" alt="image" height="160" width="120" th:src="@{/upload/{dosyaTuru}/{id}(id=${ogrenci.id},dosyaTuru='OGRENCI')}"/>
						</div>
					</td>
					<td th:text="${ogrenci.adi}"></td>
					<td th:text="${ogrenci.tcKimlikNo}"></td>
					<td th:text="${ogrenci.ilce}"></td>
					<td th:text="${ogrenci.okulAdi}"></td>
					<td th:text="${ogrenci.okulAlani}"></td>
					<td>
						<form method="POST" th:action="@{/favori/{id} (id=${ogrenci.id})}">
                        <button type="submit" name="submit">Favori</button>
                    </form>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>