<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
    <title>Firma Kayıt Formu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="main">
        <div class="container">
            <div>
                <div>
                    <form  th:action="@{/okul}" method="POST" class="register-form" id="register-form">
                        <div>
                            <h2>Okul Kayıt Formu</h2>
                            <div class="form-row">

                                <div class="form-group">
                                    <label for="adi">Adı :</label>
                                    <input type="text" name="adi" id="adi" th:value="${okul.adi}" />
                                </div>
                            </div>
                        </div>

                        <div class="form-submit">
                            <input type="reset" value="Temizle" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Kaydet" class="submit" name="submit" id="submit" />
                        </div>

                        <input type="hidden" name="id" id="id" th:value="${okul.id}"/>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>