<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorator="layout">

<head>
	<title>Spring Boot file upload example</title>
</head>
<body>
<div layout:fragment="content">

	<div th:if="${ogretmen}">
		<img alt="Image" th:src="@{upload/{dosyaTuru}/{id}(id=${ogretmen.id},dosyaTuru=T(net.javaguides.springbootsecurity.enums.DosyaTuru).OGRETMEN)}" width="250" height="250"/>
	</div>

	<div>
		<form method="POST"  th:action="@{upload/{dosyaTuru}/{id}(id=${ogretmen.id},dosyaTuru=T(net.javaguides.springbootsecurity.enums.DosyaTuru).OGRETMEN)}" enctype="multipart/form-data">
			<table>
				<tr>
					<td>File to upload:</td>
					<td><input type="file" name="file" /></td></tr>
					<input type="hidden" name="dosyaTuru" th:value="${dosyaTuru}" />

				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>
